In [1]:
import numpy as np
import pandas as pd
from astropy.io import fits

In [2]:
visit_hdus = fits.open('allVisit-r12-l33.fits')

# print(visit_hdus.info())

In [3]:
visit_header = visit_hdus[1].header
visit_data = visit_hdus[1].data

visit_hdus.close()

# print(visit_header)

In [4]:
all_targets = list(visit_data['TARGET_ID'])
all_mjd = list(visit_data['MJD'])
all_obsvhelio = list(visit_data['OBSVHELIO']) # Heliocentric relative RV from 'observed spectrum template matching'
all_plates = list(visit_data['PLATE'])

In [5]:
for i, s in enumerate(all_plates):
    all_plates[i] = s.strip()
    
# print(all_plates[:7])

In [6]:
all_data = [all_targets, all_plates, all_mjd, all_obsvhelio]

df = pd.DataFrame(all_data).transpose()
df.columns = ['Target ID', 'Plate ID', 'MJD', 'OBSVHELIO (km/s)']

In [7]:
df.head(10)

                               Target ID     Plate ID    MJD OBSVHELIO (km/s)
0                       apo1m.1.Bestars.      Bestars  58017         -523.166
1                       apo1m.1.Bestars.      Bestars  58022         -526.084
2              apo1m.1.calibration.VESTA  calibration  56398          25.5533
3              apo1m.1.calibration.VESTA  calibration  56778          10.5618
4                   apo1m.1.calibration.  calibration  57743         -36.2044
5  apo25m.5046.120+12.2M00000002+7417074         7545  56933          -51.673
6  apo25m.5046.120+12.2M00000002+7417074         7545  56936         -51.6342
7  apo25m.5046.120+12.2M00000002+7417074         7545  56971         -51.8788
8  apo25m.5071.060-75.2M00000019-1924498         7917  57293           18.841
9  apo25m.5071.060-75.2M00000019-1924498         7917  58037           19.174

In [30]:
# list(df['Target ID'].value_counts())

In [8]:
from collections import Counter

In [9]:
target_count = Counter(all_targets)

In [19]:
filtered_targets = []
filtered_targets_count = []

In [20]:
for tc in target_count:
    if target_count[tc] > 19:
        filtered_targets.append(tc)
        filtered_targets_count.append(target_count[tc])

In [28]:
filtered_targets_data = [filtered_targets, filtered_targets_count]
targets_df = pd.DataFrame(filtered_targets_data).transpose()
targets_df.columns = ['Target ID', 'Visit Count']

In [29]:
targets_df

                                Target ID Visit Count
0     apo25m.4205.PAL1.2M03033027+7944165          32
1     apo25m.4205.PAL1.2M03060474+8013408          32
2     apo25m.4205.PAL1.2M03062146+7929484          32
3     apo25m.4205.PAL1.2M03062526+7950267          32
4     apo25m.4205.PAL1.2M03070369+7933134          32
...                                   ...         ...
9005   apo25m.4230.M15.2M21334126+1116576          37
9006   apo25m.4230.M15.2M21335234+1150104          33
9007   apo25m.4230.M15.2M21335519+1207530          33
9008   apo25m.4230.M15.2M21342115+1137063          37
9009   apo25m.4230.M15.2M21342357+1215247          37

[9010 rows x 2 columns]

1546720